/* style.css ou variaveis.css */

:root {
    /* Cores */
    --neutral-800: #123057; /* Cor de fundo da sidebar */
    /* Se houver outras cores de neutral-colors, defina-as aqui também */

    /* Sombras */
    --shadow-03: 0px 8px 28px 0px rgba(1, 5, 17, 0.30); /* Sombra conforme Figma */

    /* Outras variáveis que você já tem ou vai adicionar */
    --neutral-900: #0B1739;
    --neutral-blue-light: #AAD7FF;
    --neutral-blue-medium: #AEB9E1;
    --white: #FFFFFF;
    /* etc. */
}